{% extends "base.html" %}

{% block title %}Task list{% endblock title %}

{% block rels %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}css/task.css" rel="stylesheet">
{% endblock rels %}

{% block content %}
<h3>Your tasks</h3>
<div class="list-group">
    {% for task in tasks %}
        <a class="list-group-item" href="{% url 'show_task' task.id %}">{{ task }}</a>
    {% endfor %}
</div>
<a href="{% url 'add_task' %}"><button class="btn btn-lg btn-primary">Add new</button></a>
{% endblock content %}