{% extends "base.html" %}
{% load django_tables2 %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %}Task list{% endblock title %}

{% block rels %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}css/task.css" rel="stylesheet">
{% endblock rels %}

{% block content %}
<h3>Your tasks</h3>
    {% crispy filter_form %}
<div class="list-group">
    {% render_table table %}
</div>
<a href="{% url 'add_task' %}"><button class="btn btn-lg btn-primary">Add new</button></a>
{% endblock content %}