{% extends "form.html" %}

{% block title %}Task details{% endblock title %}

{% block form-title %}Task {{ task.name }} (ID: {{ task.id }}){% endblock form-title %}
{% block form-url %}{% url 'show_task' task.id %}{% endblock form-url %}
{% block form-button %}Save changes{% endblock form-button %}
{% block other_content %}
    {% if not task.finished %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/confirm_operation.js"
                xmlns="http://www.w3.org/1999/html"></script>
        <div class="btn-group col-sm-4 col-sm-offset-4">
            {% if task.active %}
                <button  type="button" onclick="confirmOperation('{% url 'pause_task' task.id %}')" class="btn btn-lg btn-primary  col-sm-6">
                    <span class="glyphicon glyphicon-pause"></span>Pause</button>
            {% else %}
                <button  type="button" onclick="confirmOperation('{% url 'resume_task' task.id %}')" class="btn btn-lg btn-primary  col-sm-6">
                    <span class="glyphicon glyphicon-play"></span>Resume</button>
            {% endif %}
            <button type="button" onclick="confirmOperation('{% url 'stop_task' task.id %}')" class="btn btn-lg btn-primary col-sm-6">
                <span class="glyphicon glyphicon-stop"></span>Stop</button>
        </div>


        <div class="col-sm-4 col-sm-offset-4">
            <br>
            <a  type="button" href="{% url 'get_data' task.id %}" class="btn btn-lg btn-primary col-sm-12">
                        <span class="glyphicon glyphicon-download-alt"></span>Get data</a>
            <div><br></div>
            <div class="panel panel-default">
              <div class="panel-heading">Feedback</div>
              <div class="panel-body">
               <form class="form-horizontal">
                    <div class="col-sm-12">
                        <div class="form-group col-sm-12">
                            <label  class="col-sm-4">Link</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-4">Rating</label>
                            <div class="col-sm-4 col-lg-offset-3">
                                <select name="rating">
                                    {% for rating in ratings %}
                                        {% ifequal rating.id selected_rating.id %}
                                            <option value="{{rating}}" selected="selected">{{rating}}</option>
                                        {% else %}
                                            <option value="{{rating}}" >{{rating}}</option>
                                        {% endifequal %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-default col-sm-6 col-lg-offset-3" type="button">Send feedback</button>
                    </div>
               </form>
              </div>
            </div>
        </div>

    {% endif %}
{% endblock other_content %}
