psycopg2
django>=1.6
south
coverage
coveralls
django-nose
django-pytest
djangorestframework
django-rest-swagger
markdown
django-filter
django-oauth-toolkit
django-widget-tweaks
django-tables2
django-userena
redis
huey
pyyaml

web.py
beautifulsoup4