{% extends "base.html" %}
{% load widget_tweaks %}
{% load custom_tags %}

{% block msgs %}
{{ block.super }}
{% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{ error|escape }}</div>
    {% endfor %}
{% endif %}
{% endblock msgs %}

{% block content %}
    <h3 class="title">{% block form-title %}Form{% endblock form-title %}</h3>
    <form class="form-horizontal" action="{% block form-url %}#{% endblock form-url %}" method="post">{% csrf_token %}
        {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}</label>
            <div class="col-sm-6">
            {% if field|is_checkbox %}
                {% for check in field %}
                    <div class="col-sm-4">
                    <label class="checkbox-inline">
                        {{ check.tag }}
                        <strong>{{ check.choice_label }}</strong>
                    </label>
                    </div>
                {% endfor %}
            {% else %}
                {% render_field field class+="form-control" placeholder=field.label %}
            {% endif %}
            </div>
            <span class="help-block col-sm-3"><strong>{% for error in field.errors %}{{ error }}{% endfor %}</strong></span>
        </div>
        {% endfor %}
        <button class="btn btn-lg btn-primary col-sm-4 col-sm-offset-4" type="submit">{% block form-button %}Button{% endblock form-button %}</button>
    </form>
{% endblock content %}
