<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
</head>
<body>
    {% include "navigation.html" %}

    {% for message in messages %}
    <div class="alert alert-info {% if message.tags %} {{ message.tags }} {% endif %}">{{ message }}</div>
    <!--<div class="alert {% if message.tags %} {{ message.tags }} {% endif %}">{{ message }}</div> -->
    {% endfor %}

    <div class="main-content">
        <h1>Home of amazing FCS Project</h1>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
</body>
</html>