<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            {% if not user.is_authenticated %}
            <li><a href="/accounts/register/">Register</a></li>
            <li><a href="login">Login</a></li>
            {% else %}
            <li><a href="tasks/list">Tasks</a></li>
            <li><a href="logout">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
</body>
</html>