<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="/accounts/register/">Register</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </nav>
    Hello World!
</body>
</html>